@model Haxpe.V1.Emails.PartnerRegistrationConfirmModel
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Haxpe</title>
</head>
<body>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" bgcolor="#C3E9D0" style="padding: 20px">
        <tr>
            <td valign="top" width="161" height="50" align="left" style="font-size: 0; line-height: 0;" bgcolor="#C3E9D0">
                <img src="https://haxpepwa.com/logoImage.png" width="161" height="50" alt="" border="0" style="display:block; line-height: 0;" />
            </td>
        </tr>
        <tr>
            <td valign="top" width="400" height="258" align="center" style="font-size: 0; line-height: 0;" bgcolor="#C3E9D0">
                <img src="https://haxpepwa.com/emailImage.png" width="400" height="258" alt="" border="0" style="display:block; line-height: 0;" />
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="530" bgcolor="#ffffff" style="padding: 50px 20px">
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 0 0 15px;">
                <strong>Vielen Dank für die Registrierung, @Model.PartnerName!</strong>
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 0 0 15px;">
                Um Ihre Registrierung weiter bearbeiten zu können, bestätigen Sie bitte Ihre E-Mail-Adresse.
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="49" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;mso-line-height-rule: exactly;line-height:30px;color:#ffffff; padding: 15px 0;">
                <a href="@Model.ConfirmLink" style="background: #31C963; border-radius: 32.5px; color: #ffffff; text-decoration: none; padding: 16px 40px;">E-Mail-Adresse bestätigen</a>
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 0;">
                Desweiteren benötigen wir folgende Unterlagen von Ihnen:
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 0 0 5px;">
                - Gewerbeschein, Gewerbe-Anmeldung, Handelsregister-Auszug
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 0 0 5px;">
                - Kenntnisse, Qualifikationen, Zeugnisse, Meisterbrief (falls vorhanden)
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 0 0 5px;">
                - Steuer-Nummer/Steuer-ID (falls noch nicht angegeben)
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 0 0 5px;">
                - Betriebshaftpflicht-Versicherung
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 0 0 5px;">
                - Freistellungsbescheinigung für Bauleistungen (falls vorhanden)
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 20px 0 0;">
                Bitte laden Sie Ihre Dokumente hier hoch:
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="49" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;mso-line-height-rule: exactly;line-height:30px;color:#ffffff; padding: 15px 0;">
                <a href="@Model.UploadDocumentLink" style="background: #4385F3; border-radius: 32.5px; color: #ffffff; text-decoration: none; padding: 16px 88px;">Datei-Upload</a>
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 20px 0 0;">
                Wir werden Ihre Daten anschließend überprüfen und schalten Sie so schnell wie möglich als Partner von Haxpe frei.
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 20px 0 0;">
                Sie dürfen nur die Gewerbe ausführen bzw. anbieten welche in Ihrem Gewerbeschein oder Handelsregister-Auszug eingetragen sind. Andernfalls tragen Sie die Haftung dafür.
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 20px 0 0;">
                Mit freundlichen Grüßen,
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="left" bgcolor="#ffffff" style="text-align:left;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#000000;padding: 50px 0 0;">
                <strong>Ihr Haxpe Team</strong>
            </td>
        </tr>
    </table>

    <table cellpadding="0" cellspacing="0" border="0" align="center" width="530" bgcolor="#232624" style="padding: 20px">
        <tr>
            <td valign="top" width="95" height="30" align="center" style="font-size: 0; line-height: 0;" bgcolor="#232624">
                <img src="https://haxpepwa.com/footerLogoImage.png" width="95" height="30" alt="" border="0" style="display:block; line-height: 0; padding: 0 0 10px;" />
            </td>
        </tr>
        <tr>
            <td valign="top" width="35" height="35" align="center" style="font-size: 0; line-height: 0;" bgcolor="#232624">
                <a href="javascript:void(0);" style="color: #fff; text-decoration: none;"><img src="https://haxpepwa.com/facebookIcon.png" width="35" height="35" alt="" border="0" style="display:block; line-height: 0; display: inline; margin: 0 5px;" /></a>
                <a href="javascript:void(0);" style="color: #fff; text-decoration: none;"><img src="https://haxpepwa.com/instagramIcon.png" width="35" height="35" alt="" border="0" style="display:block; line-height: 0; display: inline; margin: 0 5px;" /></a>
                <a href="javascript:void(0);" style="color: #fff; text-decoration: none;"><img src="https://haxpepwa.com/twitterIcon.png" width="35" height="35" alt="" border="0" style="display:block; line-height: 0; display: inline; margin: 0 5px;" /></a>
                <a href="javascript:void(0);" style="color: #fff; text-decoration: none;"><img src="https://haxpepwa.com/youtubeIcon.png" width="35" height="35" alt="" border="0" style="display:block; line-height: 0; display: inline; margin: 0 5px;" /></a>
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="center" bgcolor="#232624" style="text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#ffffff;padding: 20px 0 5px;">
                Lerchenauer Straße 156 <br />80935 München <br /><a href="mailto:info@haxpe.com" style="color: #fff; text-decoration: none;">info@haxpe.com</a>
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="30" align="center" bgcolor="#232624" style="text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:16px;mso-line-height-rule: exactly;line-height:30px;color:#232624;">
                <a href="javascript:void(0);" style="color: #fff; text-decoration: none; margin: 0 5px">Impressum</a>
                <a href="javascript:void(0);" style="color: #fff; text-decoration: none; margin: 0 5px">Datenschutzerklärung</a>
            </td>
        </tr>
        <tr>
            <td valign="middle" width="530" height="24" align="center" bgcolor="#232624" style="text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:17px;mso-line-height-rule: exactly;line-height:24px;color:#ffffff; padding: 5px 0 0;">
                &copy; 2021 | Haxpe UG (haftungsbeschränkt)
            </td>
        </tr>
    </table>
</body>
</html>